/* Login.module.css */
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    background: linear-gradient(to right, #ff0000, #0000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }
  